
<div class="image-container">
  <% if @cocktail[:photo] == nil%>
    <img class="cocktail-image" src="https://res.cloudinary.com/edouard-de-prez/image/upload/v1565350664/moscow-mule_o94w1m.jpg" alt="">
  <% else %>
    <img class="cocktail-image" src=<%= @cocktail.photo %> alt="">
  <% end %>
  <h2 class="text-center title"><%= @cocktail.name.upcase %></h2>
</div>
<% @dose_hash.each do |key, value| %>
  <div class="d-flex justify-content-between">
    <p><%= value[0] %> of <%= value[1] %></p> <p><%= link_to 'delete', dose_path(key), method: :delete %></p>
  </div>
<% end %>

<p class="text-right add-link"><%= link_to 'add a new ingredient', new_cocktail_dose_path(@cocktail), class: "strong" %></p>
