<div class="image-container">
  <%= image_tag "cocktail.png", alt: "Le Wagon", class: "image"%>
  <h2 class="text-center title"><%= @cocktail.name.upcase %></h2>
</div>
<% @dose_hash.each do |key, value| %>
  <div class="d-flex justify-content-between">
    <p><%= value[0] %> of <%= value[1] %></p> <p><%= link_to 'delete', dose_path(key), method: :delete %></p>
  </div>
<% end %>

<p class="text-right mt-1"><%= link_to 'add a new ingredient', new_cocktail_dose_path(@cocktail), class: "strong" %></p>
